  * {
      font-family: sans-serif;
      font-size: 15px;

  }

  body {
      background-color: #F8F8F8;
      margin: 0px;
      padding: 0px;
  }

  #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;

  }

  #nav {
      display: flex;
      margin-left: -260px;
      font-family: sans-serif;
  }

  #nav>li {
      list-style-type: none;
      margin: 15px 20px;
      font-weight: bold;
  }

  #nav>li>a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
  }

  #nav>li>a:hover {
      color: #F37E5D;
  }

  /* navbar middle section dropdown list style */
  #dropdown {
      display: flex;
      list-style-type: none;
      position: absolute;
      background-color: #ffffff;
      /* margin-top: 10px; */
      width: 650px;
      visibility: hidden;
      height: 40vh;
      left: 40px;
  }

  #dropdown>div {
      display: grid;
      grid-template-columns: 60% 40%;
      height: 99.8%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      border-radius: 10px;
      padding: 30px;
  }

  #dropdown .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }

  #dropdown>div>ul {
      list-style-type: none;

  }

  #dropdown>div>ul>li>a {
      text-decoration: none;
      border: 1px solid cyan;
  }

  .icon {
      display: flex;
  }

  .icon>li>a>img {
      width: 50px;
  }

  #nav>li:hover #dropdown {
      visibility: visible;
  }

  .grey {
      color: grey;
      font-size: 13px;
  }

  .p {
      display: flex;
  }

  .p img {
      width: 40px;
  }

  .p>div>p {
      color: grey;
      font-size: 12px;
  }

  .small {
      font-size: 12px;
  }

  #part1 {
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
  }

  #part1 img {
      width: 30px;
      cursor: pointer;
  }

  .part2 {
      width: 30%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
  }

  .part2 p:hover {
      color: #F37E5D
  }

  .part2 button {
      height: 40px;
      background-color: #F37E5D;
      color: white;
      border: none;
      border-radius: 5px;
      width: 40%;
      cursor: pointer;
  }

  .part2 button:hover {
      background-color: #F37E5D;
  }

  .heading {
      font-size: 25px;
      display: flex;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
  }


  #heading {
      width: 50%;
      text-align: center;
      margin: auto;
      margin-top: 100px;
      /* font-size: 20px; */
  }

  #heading>h1 {
      font-size: 30px;
  }


  #heading1 {
      text-align: center;
  }

  #button {
      margin: auto;
      text-align: center;
  }

  #button button {
      width: 15%;
      height: 40px;
      border: none;
      background-color: #F37E5D;
      border-radius: 5px;
      color: white;
      cursor: pointer;
  }

  #image {
      padding-left: 5%;
      padding-right: 5%;
      text-align: center;
  }

  #line {
      text-align: center;
  }
  #line> h2{
    font-size: 20px;
    font-family: sans-serif;
  }

  #logo {
      width: 90%;
      text-align: center;
      margin: auto;
      padding-left: 5px;
      padding-right: 5px;
  }

  #logo img {
      margin-left: 20px;
      margin-bottom: 20px;
  }

  #middle_portion {

      margin-top: 100px;
      background-color: #F8F8F8;
      padding-top: 10px;

  }

  #middle_portion>div>h1 {
      text-align: center;
      font-size: 30px;
  }

  #items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 370px);
      width: 65%;
      gap: 30px;
      margin: auto;
      padding-bottom: 40px;

  }

  #items>div {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      border-radius: 5px;
      position: relative;
  }

  #items>div>img {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      width: 100%;
      height: 20px;
      border-radius: 5px;
  }

  .background img {
      width: 100%;
      height: 100px;
  }

  .cart_logo img {
      width: 50px;

  }

  .cart_logo {
      position: absolute;
      padding-left: 30px;
      top: 60px;
  }

  .A {
      padding-left: 25px
  }

  .B {
      padding-left: 30px;
  }

  .A h1 {
      font-size: 20px;
  }

  .btn {
      width: 30%;
      height: 40px;
      border: none;
      background-color: #FFEDE3;
      border-radius: 5px;
      color: #F37E5D;
      cursor: pointer;
  }

  .btn1 {
      width: 30%;
      height: 40px;
      border: none;
      background-color: #FFEDE3;
      border-radius: 5px;
      color: #F37E5D;
      cursor: pointer;

  }

  .btn2 {
      width: 30%;
      height: 40px;
      border: none;
      background-color: #FFEDE3;
      border-radius: 5px;
      color: #F37E5D;
      cursor: pointer;

  }

  .btn3 {
      width: 30%;
      height: 40px;
      border: none;
      background-color: #FFEDE3;
      border-radius: 5px;
      color: #F37E5D;
      cursor: pointer;

  }

  .right i {
      color: #F37E5D;
      margin-right: 5px;
      font-size: 12px;
  }

  .right1 i {
      color: #1b75bc;
      margin-right: 5px;
      font-size: 12px;

  }

  .right2 i {
      color: #2c1bbc;
      margin-right: 5px;
      font-size: 12px;
  }


  #bottom_portion {
      text-align: center;
      margin-top: 100px;
      background-color: #FFFFFF;
      padding-top: 5%;
  }
  #bottom_portion>div>h2{
    font-size: 30px;
  }

  .chart {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, auto);
      width: 80%;
      gap: 30px;
      margin: auto;
      margin-top: 60px;

  }

  .chart>div {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      padding-top: 15%;
  }

  .size {
      padding-top: 30px;
  }

  .size>img {
      width: 50%;
      height: 45%;
  }

  #color {
      width: 100%;
      height: 250px;
      background-color: #F37E5D;
      margin-top: 100px;

  }

  #line>h1 {
      /* margin-top: 50px; */
      padding-top: 5%;
      color: white;
      font-size: 30px;
  }

  #line>button {
      width: 15%;
      height: 50px;
      background-color: whitesmoke;
      color: #F37E5D;
      border: none;
      border-radius: 5px;
  }

  #container {
      display: flex;
      background-color: #F8F8F8;
  }

  #sideRhs {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 80%;
      gap: 20px;
      margin-left: auto;
      text-align: left;
      padding-left: 5%;
      cursor: pointer;
  }

  #sideRhs div {
      margin-top: 5px;
  }

  #sidelhs {
      padding-left: 12%;
      padding-top: 2%;
      cursor: pointer;
  }

  #sidelhs img {
      width: 20%;
      align-items: center;

  }

  #last_portion {
      display: flex;
      justify-content: space-evenly;
      background-color: #F8F8F8;
      align-items: center;
  }

  #sideRhs {
      color: grey;
  }

  .item_list:hover {
      color: black;
  }

  .ft-12 {
      font-size: 12px;
      color: grey;
  }

  /* Medium Screen */
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    #items {
       
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        width: 65%;
        gap: 30px;
    }
    
   
    #sideRhs {
       display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        gap: 20px;
        margin-left: auto;
        text-align: left;
        padding-left: 5%;
        cursor: pointer;
    }
    #container {
        /* display: flex; */
        background-color: #F8F8F8;
    }
    #heading {
        width: 50%;
        text-align: center;
        margin: auto;
        margin-top: 100px;
        /* font-size: 20px; */
        position: fixed;
    }
  }

  /* Small Screen */
  @media only screen and (min-width: 320px) and (max-width: 499px) {
    #items {
       
        grid-template-columns: repeat(1, 1fr);
    
        width: 65%;
        gap: 30px;
    }
    .chart {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        width: 80%;
        gap: 30px;
        margin: auto;
        margin-top: 60px;
  
    }
    
    #container {
        /* display: flex; */
        background-color: #F8F8F8;
    }
    #sideRhs {
        display: grid;
         grid-template-columns: repeat(1, 1fr);
         width: 80%;
         gap: 20px;
         margin-left: auto;
         text-align: left;
         padding-left: 5%;
         cursor: pointer;
     }

  }